
h1 {
text-align: center;
color:#d87093;
background: powderblue;
font-size: 80px;
font-family:cursive;
}
body{background:darksalmon
    
}
p{
    font-size:40px;
    color: rgb(235, 47, 78)

    
}
a{
    font-size:25;
color:pink
}

